In [1]:
import pandas as pd
import numpy as np

### 데이터 개수 세기
판다스 패키지의 `Series`,`DataFrame` 객체의 `count()`메서드로 데이터의 갯수를 셀 수 있음
단 `NaN`값은 포함하지 않음

In [3]:
s = pd.Series(np.arange(10))
s[3]=np.nan
print(s)
print(s.count())

0    0.0
1    1.0
2    2.0
3    NaN
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64
9

In [6]:
df=pd.DataFrame(np.random.randint(5,size=(4,4)),dtype=float)
df.iloc[2,3]=np.nan
print(df)
#열기준으로 그룹화하여 카운드
print(df.count())

     0    1    2    3
0  1.0  4.0  4.0  4.0
1  0.0  3.0  2.0  0.0
2  4.0  4.0  2.0  NaN
3  0.0  4.0  4.0  1.0
0    4
1    4
2    4
3    3
dtype: int64

In [7]:
import seaborn

In [10]:
titanic=seaborn.load_dataset('titanic')
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [12]:
print(titanic.count())
print(len(titanic))

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64
891

### 카테고리 값 세기
`Series` 객체에 값이 정수, 문자열, 카테고리 값인 경우에 `value_counts()` 메서드로 각 값의
갯수를 셀 수 있음
`DataFrame` 객체에는 `value_counts()`메서드가 존재하지 않아 각 열마다 따로 갯수를 세야함

In [14]:
s2=pd.Series(np.random.randint(6,size=250))
print(s2.tail())
print(s2.value_counts())

245    4
246    0
247    4
248    1
249    0
dtype: int32
4    49
3    44
1    43
0    41
2    37
5    36
Name: count, dtype: int64

In [18]:
df[0].value_counts() #이해못함

0
0.0    2
1.0    1
4.0    1
Name: count, dtype: int64

### 정렬
`sort_index()`,`sort_values()`메서드로 정렬 가능
`sort_index()` : 인덱스 기준으로 정렬 (기본적으로 오름처순 정렬, 만약 내림차순 정렬을 하고
싶으면 `ascending=False`를 지정), 
`sort_values()`: 값 기준으로 정렬, 만약 NaN 값이 있다면 무조건 맨뒤로 지정됨

In [20]:
print(s2.value_counts())
print()
print(s2.value_counts().sort_index())

4    49
3    44
1    43
0    41
2    37
5    36
Name: count, dtype: int64

0    41
1    43
2    37
3    44
4    49
5    36
Name: count, dtype: int64

In [23]:
print(s)
print(s.sort_values())
print(s.sort_values(ascending=False))

0    0.0
1    1.0
2    2.0
3    NaN
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64
0    0.0
1    1.0
2    2.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
3    NaN
dtype: float64
9    9.0
8    8.0
7    7.0
6    6.0
5    5.0
4    4.0
2    2.0
1    1.0
0    0.0
3    NaN
dtype: float64

데이터 프레임에서 `sort_values()` 메서드를 사용할 땐 `by`인수로 정렬 기준이 될 열을 지정
`by` 인수에 리스트를 전달하면 복수 정렬을 하게 됨

In [26]:
print(df)
print()
print(df.sort_values(by=2))
print()
print(df.sort_values(by=[2,0]))

     0    1    2    3
0  1.0  4.0  4.0  4.0
1  0.0  3.0  2.0  0.0
2  4.0  4.0  2.0  NaN
3  0.0  4.0  4.0  1.0

     0    1    2    3
1  0.0  3.0  2.0  0.0
2  4.0  4.0  2.0  NaN
0  1.0  4.0  4.0  4.0
3  0.0  4.0  4.0  1.0

     0    1    2    3
1  0.0  3.0  2.0  0.0
2  4.0  4.0  2.0  NaN
3  0.0  4.0  4.0  1.0
0  1.0  4.0  4.0  4.0