In [1]:
import pandas as pd
import numpy as np

### 판다스 데이터 입출력
판다스는 아래와 같은 형식의 데이터를 입력받아 데이터프레임을 만들 수 있음
- CSV
- Excel
- HTML
- JSON
- HDF5
- SAS
- STATA
- SQL
    
가장 많이 사용되는 포멧은 CSV, JSON, SQL

### `%%writefile` 명령
`%%writefile` 명령어를 사용하여 파이썬에서 파일을 생성할 수 있음

In [2]:
%%writefile sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting sample1.csv

### CSV 파일 입력
판다스 패키지의 `read_csv` 메서드를 사용하여 로컬에 존재하는 CSV 파일을 읽을 수 있음

In [3]:
pd.read_csv('sample1.csv')

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

만약 데이터에 열 인덱스가 존재하지 않는다면 `read_csv` 메서드의 `names` 속성으로 열 인덱스를 지정할 수 있음

In [4]:
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting sample2.csv

In [5]:
pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3'])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

CSV의 특정 열을 행 인덱스로 사용하고 싶을 땐 `read_csv` 메서드의 `index_col` 속성으로 지정할 수 있음

In [6]:
pd.read_csv('sample1.csv', index_col='c1')

      c2      c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

특정한 값을 `NaN`으로 변경하고 싶으면 `na_values` 속성으로 `NaN`으로 취급할 값을 리스트로 지정함

In [7]:
%%writefile sample3.csv
c1, c2, c3
1, 1.11, one
2, ,two
누락, 3.33, three

Overwriting sample3.csv

In [10]:
pd.read_csv('sample3.csv', na_values=['누락', ' '])

    c1    c2      c3
0  1.0  1.11     one
1  2.0   NaN     two
2  NaN  3.33   three