In [2]:
import pandas as pd
import numpy as np

### 판다스 데이터 입출력
판다스는 아래와 같은 형식의 데이터를 입력받아 데이터프레임을 만들 수 있음
- CSV
- Excel
- HTML
- JSON
- HDF5
- SAS
- STATA
- SQL
    
가장 많이 사용되는 포멧은 CSV, JSON, SQL

### `%%writefile` 명령
`%%writefile` 명령어를 사용하여 파이썬에서 파일을 생성할 수 있음

In [ ]:
%%writefile sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

### CSV 파일 입력
판다스 패키지의 `read_csv` 메서드를 사용하여 로컬에 존재하는 CSV 파일을 읽을 수 있음

In [ ]:
pd.read_csv('sample1.csv')

만약 데이터에 열 인덱스가 존재하지 않는다면 `read_csv` 메서드의 `names` 속성으로 열 인덱스를 지정할 수 있음

In [ ]:
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

In [ ]:
pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3'])

CSV의 특정 열을 행 인덱스로 사용하고 싶을 땐 `read_csv` 메서드의 `index_col` 속성으로 지정할 수 있음

In [ ]:
pd.read_csv('sample1.csv', index_col='c1')

특정한 값을 `NaN`으로 변경하고 싶으면 `na_values` 속성으로 `NaN`으로 취급할 값을 리스트로 지정함

In [ ]:
%%writefile sample3.csv
c1, c2, c3
1, 1.11, one
2, ,two
누락, 3.33, three

In [ ]:
df = pd.read_csv('sample3.csv', na_values=['누락', ' '])

### Dataframe을 CSV 파일로 출력
`to_csv()` 메서드로 데이터프레임을 csv 파일로 출력할 수 있음

In [ ]:
df

In [ ]:
df.to_csv('sample4.csv')

In [ ]:
!type sample4.csv

파일을 출력할 때 구분자를 변경하고 싶으면 `sep` 속성에 구분자를 지정함

In [ ]:
df.to_csv('sample5.csv', sep='_')

`NaN` 값에 대해서 표시를 변경하고 싶으면 `na_rep` 속성에 표시할 값을 지정함

In [ ]:
df.to_csv('sample6.csv', na_rep='누락')

`index`, `header` 속성으로 행 인덱스 및 열 인덱스의 출력 여부를 지정함

In [ ]:
df.to_csv('sample7.csv', index=False, header=False)

### 인터넷 상의 CSV 파일 입력
로컬에 존재하는 csv 파일뿐만 아니라 웹 상에 존재하는 csv 파일도 `read_csv()` 메서드로 읽을 수 있음

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/datascienceschool/docker_rpython/master/data/titanic.csv')

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.tail(4)

### 데이터베이스 입력
데이터베이스에 있는 데이터를 데이터프레임으로 받아오기 위해서는 각 DBMS에 맞는 connector를 사용하여야함  
   
##### mysql connector
```bash
pip install mysql-connector-python
```  
   
```python
import mysql.connector
```

In [3]:
import mysql.connector

In [2]:
try:
    conn = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='root',
        database='real_estate'
    )

    if conn.is_connected():
        print('데이터베이스 연결 성공')
        
except Exception as e:
    print('데이터베이스 연결 실패', e)
finally:
    if conn.is_connected():
        conn.close()
        print('데이터베이스 연결 해제')

데이터베이스 연결 성공
데이터베이스 연결 해제

데이터베이스 연결 후 쿼리 작업을 할 때는 `cursor` 객체를 사용

In [3]:
try:
    conn = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='root',
        database='real_estate'
    )

    if conn.is_connected():
        cursor = conn.cursor()
        query = 'SELECT * FROM user'
        cursor.execute(query)

        for record in cursor:
            print(record)
        
except Exception as e:
    print('데이터베이스 연결 실패', e)
finally:
    if conn.is_connected():
        conn.close()
        print('데이터베이스 연결 해제')

('galaxy', 'P!ssw0rd', 'galaxy@email.com', 'HOME', 'NOMAL')
데이터베이스 연결 해제

판다스 패키지의 `read_sql_query()` 메서드로 데이터베이스 조회 결과를 바로 데이터프레임으로 만들수 있음

In [7]:
df = None

try:
    conn = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='root',
        database='real_estate'
    )

    if conn.is_connected():
        cursor = conn.cursor()
        query = 'SELECT * FROM user'
        df = pd.read_sql_query(query, conn)
        print(df)
        
except Exception as e:
    print('데이터베이스 연결 실패', e)
finally:
    if conn.is_connected():
        conn.close()

df

  user_id  password             email join_path   role
0  galaxy  P!ssw0rd  galaxy@email.com      HOME  NOMAL

C:\Users\ITPS\AppData\Local\Temp\ipykernel_26568\4053326263.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

  user_id  password             email join_path   role
0  galaxy  P!ssw0rd  galaxy@email.com      HOME  NOMAL

In [4]:
df = None

try:
    conn = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='root',
        database='real_estate'
    )

    if conn.is_connected():
        cursor = conn.cursor()
        query = 'SELECT * FROM officetel_estate'
        df = pd.read_sql_query(query, conn, index_col='sequence')
        print(df)
        
except Exception as e:
    print('데이터베이스 연결 실패', e)
finally:
    if conn.is_connected():
        conn.close()

df

                  locale base_month  between_lease_and_lease_deposit_ratio  \
sequence
1             nationwide     Jul-20                                   7.95
2           metropolitan     Jul-20                                   7.46
3               province     Jul-20                                   9.96
4                  seoul     Jul-20                                   7.10
5         seoul-downtown     Jul-20                                   6.13
...                  ...        ...                                    ...
727              gwangju     Jan-24                                   7.86
728              daejeon     Jan-24                                  11.42
729                ulsan     Jan-24                                   7.62
730               sejong     Jan-24                                   6.05
731             gyeonggi     Jan-24                                   7.09

          lease_to_sale_ratio  monthly_rent_rate_of_return  \
sequence
1                       83.54                         4.75
2                       84.31                         4.61
3                       80.33                         5.35
4                       82.80                         4.33
5                       79.55                         4.18
...                       ...                          ...
727                     83.49                         6.10
728                     86.32                         7.54
729                     83.34                         5.32
730                     86.15                         6.30
731                     85.40                         5.35

          average_lease_on_deposit_price  \
sequence
1                                 163525
2                                 175996
3                                 111980
4                                 199524
5                                 235665
...                                  ...
727                               105940
728                               101796
729                               117651
730                                97749
731                               183448

          average_lease_on_deposit_price_per_unit  \
sequence
1                                            4370
2                                            4797
3                                            2603
4                                            6033
5                                            6405
...                                           ...
727                                          2595
728                                          2355
729                                          2921
730                                          3522
731                                          4649

          midian_lease_on_deposit_price  \
sequence
1                                156386
2                                167524
3                                110353
4                                190788
5                                223768
...                                 ...
727                              110677
728                              101257
729                              116039
730                               93146
731                              169240

          midian_lease_on_deposit_price_per_unit  average_monthly_rent_price  \
sequence
1                                           4266                       13107
2                                           4682                       13656
3                                           2545                       10837
4                                           6025                       15250
5                                           6221                       13906
...                                          ...                         ...
727                                         2551                        9126
728                                         2201                       12090
729                                         2899                        9253
730                                         3403                        6064
731                                         4485                       15009

          average_monthly_rent_price_unit  midian_average_monthly_rent_price  \
sequence
1                                     661                              10705
2                                     698                              11247
3                                     507                               8466
4                                     777                              12876
5                                     946                              13701
...                                   ...                                ...
727                                   545                               8927
728                                   556                               9341
729                                   563                               9621
730                                   552                               5898
731                                   806                              10620

          midian_average_monthly_rent_price_unit  average_sale_price  \
sequence
1                                            634              203454
2                                            668              217040
3                                            492              147304
4                                            744              251315
5                                            919              310153
...                                          ...                 ...
727                                          540              132817
728                                          550              123572
729                                          555              144356
730                                          547              118063
731                                          767              231384

          average_price_per_unit  midian_average_sale_price  \
sequence
1                           5272                     190155
2                           5751                     202398
3                           3295                     139555
4                           7342                     235222
5                           8155                     307248
...                          ...                        ...
727                         3124                     130755
728                         2742                     118458
729                         3493                     140185
730                         4101                     111110
731                         5558                     214777

          midian_average_price_per_unit
sequence
1                                  4997
2                                  5434
3                                  3191
4                                  7064
5                                  7901
...                                 ...
727                                2901
728                                2513
729                                3457
730                                3869
731                                5332

[731 rows x 17 columns]

C:\Users\ITPS\AppData\Local\Temp\ipykernel_20432\799534252.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, index_col='sequence')

,locale,base_month,between_lease_and_lease_deposit_ratio,lease_to_sale_ratio,monthly_rent_rate_of_return,average_lease_on_deposit_price,average_lease_on_deposit_price_per_unit,midian_lease_on_deposit_price,midian_lease_on_deposit_price_per_unit,average_monthly_rent_price,average_monthly_rent_price_unit,midian_average_monthly_rent_price,midian_average_monthly_rent_price_unit,average_sale_price,average_price_per_unit,midian_average_sale_price,midian_average_price_per_unit
sequence,,,,,,,,,,,,,,,,,
1,nationwide,Jul-20,7.95,83.54,4.75,163525,4370,156386,4266,13107,661,10705,634,203454,5272,190155,4997
2,metropolitan,Jul-20,7.46,84.31,4.61,175996,4797,167524,4682,13656,698,11247,668,217040,5751,202398,5434
3,province,Jul-20,9.96,80.33,5.35,111980,2603,110353,2545,10837,507,8466,492,147304,3295,139555,3191
4,seoul,Jul-20,7.10,82.80,4.33,199524,6033,190788,6025,15250,777,12876,744,251315,7342,235222,7064
5,seoul-downtown,Jul-20,6.13,79.55,4.18,235665,6405,223768,6221,13906,946,13701,919,310153,8155,307248,7901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,gwangju,Jan-24,7.86,83.49,6.10,105940,2595,110677,2551,9126,545,8927,540,132817,3124,130755,2901
728,daejeon,Jan-24,11.42,86.32,7.54,101796,2355,101257,2201,12090,556,9341,550,123572,2742,118458,2513
729,ulsan,Jan-24,7.62,83.34,5.32,117651,2921,116039,2899,9253,563,9621,555,144356,3493,140185,3457
730,sejong,Jan-24,6.05,86.15,6.30,97749,3522,93146,3403,6064,552,5898,547,118063,4101,111110,3869
731,gyeonggi,Jan-24,7.09,85.40,5.35,183448,4649,169240,4485,15009,806,10620,767,231384,5558,214777,5332