In [12]:
import pandas as pd
import numpy as np

### 데이터프레임 고급 인덱싱
판다스 데이터프레임의 인덱싱은 라벨, 라벨 리스트, 행 인덱스 슬라이스의 인덱싱 형태 뿐만 아니라 numpy와 같은 `,`를 이용한 `(행 인덱스, 열 인덱스)` 형식의 2차원 인덱스도 제공함  
   
- `loc` 속성 : 라벨 기반의 2차원 인덱서
- `iloc` 속성 : 순서를 나타내는 정수 기반의 2차원 인덱서

### `loc` 인덱서
행 인덱스 값과 열 인덱스 값을 이용하여 인덱싱을 해주는 인덱서

```python
df.loc[행인덱스값]
df.loc[행인덱스값, 열인덱스값]
```

In [13]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4), index=['a', 'b', 'c'], columns=['A', 'B', 'C', 'D'])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [14]:
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [15]:
df.loc[['a', 'b']]

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [16]:
df.loc['a': 'b']

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [17]:
df.loc[['a']]

    A   B   C   D
a  10  11  12  13

In [18]:
df.loc[df.A > 13]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

인덱스 값으로 열 인덱스 값을 반환하는 함수를 사용할 수 있음

In [19]:
def select_rows(df):
    return df.A > 12

In [20]:
df.loc[select_rows(df)]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

`loc` 없이 인덱싱을 할때는 `[]`에 열 인덱스에 대한 인덱싱을 하였는데 `loc`는 열 인덱싱으로 지정할 수 없음

In [21]:
df.loc['A']

KeyError: 'A'

`loc` 인덱싱에서 정수로 되어있는 행이라고 할 지라도 슬라이싱시에 종료 인덱스 값에 대한 결과도 포함하여 출력됨

In [22]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=['A', 'B', 'C', 'D'])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [23]:
df2.loc[0:2]

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21

#### 인덱싱 값으로 행과 열 모두 지정
`loc[행인덱스, 열인덱스]` 로 행과 열에 대한 인덱싱을 할 수 있음

In [24]:
df.loc['a', 'A']

10

In [25]:
df.loc['b': ,:'C']

    A   B   C
b  14  15  16
c  18  19  20

In [26]:
df.loc[df.A > 13, ['B', 'C']]

    B   C
b  15  16
c  19  20

### `iloc` 인덱서
`iloc` 인덱서는 `loc` 인덱서와 사용방법은 동일하나 인덱스로 지정하는 값이 순서를 나타내는 정수 값임

In [ ]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [ ]:
df.iloc[0, 1]

11

In [ ]:
df.iloc[:2, 1:]

    B   C   D
a  11  12  13
b  15  16  17

In [ ]:
df.iloc[2]

A    18
B    19
C    20
D    21
Name: c, dtype: int32

##### 파이썬으로 다음 연산을 수행한다.
   
1. real_estate 데이터베이스의 officetel_estate 테이블을 데이터프레임으로 가져옴
2. 상위 10개에 대한 레코드를 가지는 데이터프레임을 생성
3. locale이 seoul-downtown 인 레코드를 가지는 데이터프레임을 생성
4. between_lease_and_lease_deposit_ratio가 10 이상인 레코드의 locale, base_month 컬럼만 가지는 데이터프레임을 생성

In [27]:
import mysql.connector

In [29]:
practice_df = None

try:
    conn = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='root',
        database='real_estate'
    )

    if conn.is_connected():
        SQL = 'SELECT * FROM officetel_estate'
        practice_df = pd.read_sql_query(SQL, conn, index_col='sequence')
        
except Exception as e:
    pass
finally:
    if conn.is_connected():
        conn.close()

C:\Users\ITPS\AppData\Local\Temp\ipykernel_2964\410569874.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  practice_df = pd.read_sql_query(SQL, conn, index_col='sequence')

In [30]:
practice_df

,locale,base_month,between_lease_and_lease_deposit_ratio,lease_to_sale_ratio,monthly_rent_rate_of_return,average_lease_on_deposit_price,average_lease_on_deposit_price_per_unit,midian_lease_on_deposit_price,midian_lease_on_deposit_price_per_unit,average_monthly_rent_price,average_monthly_rent_price_unit,midian_average_monthly_rent_price,midian_average_monthly_rent_price_unit,average_sale_price,average_price_per_unit,midian_average_sale_price,midian_average_price_per_unit
sequence,,,,,,,,,,,,,,,,,
1,nationwide,Jul-20,7.95,83.54,4.75,163525,4370,156386,4266,13107,661,10705,634,203454,5272,190155,4997
2,metropolitan,Jul-20,7.46,84.31,4.61,175996,4797,167524,4682,13656,698,11247,668,217040,5751,202398,5434
3,province,Jul-20,9.96,80.33,5.35,111980,2603,110353,2545,10837,507,8466,492,147304,3295,139555,3191
4,seoul,Jul-20,7.10,82.80,4.33,199524,6033,190788,6025,15250,777,12876,744,251315,7342,235222,7064
5,seoul-downtown,Jul-20,6.13,79.55,4.18,235665,6405,223768,6221,13906,946,13701,919,310153,8155,307248,7901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,gwangju,Jan-24,7.86,83.49,6.10,105940,2595,110677,2551,9126,545,8927,540,132817,3124,130755,2901
728,daejeon,Jan-24,11.42,86.32,7.54,101796,2355,101257,2201,12090,556,9341,550,123572,2742,118458,2513
729,ulsan,Jan-24,7.62,83.34,5.32,117651,2921,116039,2899,9253,563,9621,555,144356,3493,140185,3457
730,sejong,Jan-24,6.05,86.15,6.30,97749,3522,93146,3403,6064,552,5898,547,118063,4101,111110,3869
731,gyeonggi,Jan-24,7.09,85.40,5.35,183448,4649,169240,4485,15009,806,10620,767,231384,5558,214777,5332

In [32]:
# 상위 10개에 대한 레코드를 가지는 데이터프레임을 생성
practice_df.iloc[:10]

,locale,base_month,between_lease_and_lease_deposit_ratio,lease_to_sale_ratio,monthly_rent_rate_of_return,average_lease_on_deposit_price,average_lease_on_deposit_price_per_unit,midian_lease_on_deposit_price,midian_lease_on_deposit_price_per_unit,average_monthly_rent_price,average_monthly_rent_price_unit,midian_average_monthly_rent_price,midian_average_monthly_rent_price_unit,average_sale_price,average_price_per_unit,midian_average_sale_price,midian_average_price_per_unit
sequence,,,,,,,,,,,,,,,,,
1,nationwide,Jul-20,7.95,83.54,4.75,163525,4370,156386,4266,13107,661,10705,634,203454,5272,190155,4997
2,metropolitan,Jul-20,7.46,84.31,4.61,175996,4797,167524,4682,13656,698,11247,668,217040,5751,202398,5434
3,province,Jul-20,9.96,80.33,5.35,111980,2603,110353,2545,10837,507,8466,492,147304,3295,139555,3191
4,seoul,Jul-20,7.10,82.80,4.33,199524,6033,190788,6025,15250,777,12876,744,251315,7342,235222,7064
5,seoul-downtown,Jul-20,6.13,79.55,4.18,235665,6405,223768,6221,13906,946,13701,919,310153,8155,307248,7901
6,seoul-northeastern,Jul-20,8.00,82.64,4.95,136655,4778,135819,4462,11135,612,11519,608,166160,5751,162059,5416
7,seoul-northwestern,Jul-20,6.73,83.75,4.46,187934,6434,180747,6370,11923,768,11474,710,233877,7629,207423,7353
8,seoul-southwestern,Jul-20,8.01,85.62,4.33,189461,5827,182424,6015,18688,695,13675,670,233015,6841,216063,6744
9,seoul-southeastern,Jul-20,5.89,79.71,3.99,238402,6637,223680,6606,14693,921,12859,869,307776,8424,287112,7919
10,busan,Jul-20,10.88,79.26,5.23,119095,2713,117286,2634,12155,533,9058,511,160715,3494,150766,3371

In [33]:
# locale이 seoul-downtown 인 레코드를 가지는 데이터프레임을 생성
practice_df.loc[practice_df.locale == 'seoul-downtown']

,locale,base_month,between_lease_and_lease_deposit_ratio,lease_to_sale_ratio,monthly_rent_rate_of_return,average_lease_on_deposit_price,average_lease_on_deposit_price_per_unit,midian_lease_on_deposit_price,midian_lease_on_deposit_price_per_unit,average_monthly_rent_price,average_monthly_rent_price_unit,midian_average_monthly_rent_price,midian_average_monthly_rent_price_unit,average_sale_price,average_price_per_unit,midian_average_sale_price,midian_average_price_per_unit
sequence,,,,,,,,,,,,,,,,,
5,seoul-downtown,Jul-20,6.13,79.55,4.18,235665,6405,223768,6221,13906,946,13701,919,310153,8155,307248,7901
22,seoul-downtown,Aug-20,6.13,79.60,4.18,236063,6414,223807,6222,13906,946,13701,919,310413,8162,307313,7901
39,seoul-downtown,Sep-20,6.12,79.71,4.18,236364,6423,224161,6230,13906,946,13701,919,310497,8164,307446,7901
56,seoul-downtown,Oct-20,6.11,79.78,4.18,236623,6430,224678,6234,13906,945,13701,912,310689,8168,307512,7906
73,seoul-downtown,Nov-20,6.11,79.85,4.18,236864,6437,225132,6249,13906,945,13701,912,310760,8169,307512,7891
90,seoul-downtown,Dec-20,6.10,79.96,4.18,237218,6446,225801,6252,13906,945,13701,912,310778,8169,306110,7891
107,seoul-downtown,Jan-21,6.12,80.01,4.17,237618,6458,225901,6270,13952,945,13701,912,311209,8180,306236,7884
124,seoul-downtown,Feb-21,6.11,80.00,4.17,237769,6463,226356,6270,13952,945,13701,913,311550,8188,306337,7887
141,seoul-downtown,Mar-21,6.11,80.05,4.17,237970,6469,226801,6280,13952,945,13701,913,311684,8191,306337,7889
158,seoul-downtown,Apr-21,6.10,80.10,4.17,238165,6475,227002,6280,13952,945,13701,913,311839,8195,306369,7893
175,seoul-downtown,May-21,6.10,80.18,4.16,238542,6486,227710,6280,13952,944,13701,913,312135,8203,307291,7893
192,seoul-downtown,Jun-21,6.01,80.30,4.17,239121,6502,228063,6281,13816,946,13701,913,312590,8212,307469,7885
209,seoul-downtown,Jul-21,6.00,80.44,4.17,239860,6524,228469,6281,13816,948,13701,914,313244,8226,307886,7932
226,seoul-downtown,Aug-21,5.98,80.69,4.18,240837,6545,229525,6281,13816,951,13701,916,313852,8231,308171,7933
243,seoul-downtown,Sep-21,5.97,80.66,4.18,241695,6560,230794,6286,13816,953,13701,916,315242,8255,308689,7945
260,seoul-downtown,Oct-21,5.94,80.75,4.18,242885,6589,231536,6295,13816,955,13701,917,316742,8284,310129,7953
277,seoul-downtown,Nov-21,5.93,80.83,4.17,243990,6614,232268,6297,13816,956,13701,917,318053,8310,310390,7941
294,seoul-downtown,Dec-21,5.91,80.92,4.17,244760,6634,232934,6300,13816,957,13701,919,318692,8325,310921,7941
311,seoul-downtown,Jan-22,5.90,81.03,4.17,245264,6645,234308,6307,13816,958,13701,921,319035,8331,311424,7941
328,seoul-downtown,Feb-22,5.90,81.10,4.17,245789,6657,234773,6312,13816,958,13701,921,319348,8337,312229,7948
345,seoul-downtown,Mar-22,5.90,81.15,4.17,246474,6668,236995,6329,13816,959,13701,921,320455,8352,317915,7936
362,seoul-downtown,Apr-22,5.89,81.07,4.17,246823,6675,237093,6349,13816,960,13701,922,321673,8379,319684,7954
379,seoul-downtown,May-22,5.89,81.08,4.18,247366,6689,237427,6352,13864,962,13701,924,322471,8396,320010,7979
396,seoul-downtown,Jun-22,5.90,81.17,4.18,247759,6701,237907,6357,13914,964,13701,926,322820,8404,320429,8000
413,seoul-downtown,Jul-22,5.90,81.07,4.19,247721,6698,238261,6360,13914,966,13701,926,323118,8410,320946,8019
430,seoul-downtown,Aug-22,5.90,81.12,4.20,247817,6703,238362,6360,13914,969,13701,927,323377,8416,320391,8009
447,seoul-downtown,Sep-22,5.90,81.22,4.21,247892,6705,239053,6353,13934,971,13701,927,323123,8407,319539,7993
464,seoul-downtown,Oct-22,5.91,81.29,4.23,247639,6698,239040,6353,13934,972,13701,928,322732,8393,318290,7955
481,seoul-downtown,Nov-22,5.91,81.30,4.23,247335,6688,238585,6344,13934,971,13701,928,322297,8382,317702,7939
498,seoul-downtown,Dec-22,5.98,81.24,4.24,246783,6673,238131,6341,13996,972,13701,928,321735,8368,317267,7939
515,seoul-downtown,Jan-23,5.97,81.25,4.26,246221,6659,238098,6339,13965,972,13701,928,321282,8354,316900,7929
532,seoul-downtown,Feb-23,5.98,81.29,4.27,245713,6646,237653,6315,13965,972,13701,928,320858,8341,317085,7927
549,seoul-downtown,Mar-23,5.98,81.30,4.27,245376,6641,238434,6303,13965,973,13701,930,320668,8336,317065,7930
566,seoul-downtown,Apr-23,5.90,81.26,4.21,247936,6711,243588,6534,13950,976,13701,948,323486,8414,321664,8102
583,seoul-downtown,May-23,5.91,81.10,4.21,247496,6696,240255,6498,13942,977,13701,942,323300,8409,321158,8076
600,seoul-downtown,Jun-23,5.92,81.06,4.22,247096,6686,239583,6498,13940,977,13701,941,323012,8400,319848,8019
617,seoul-downtown,Jul-23,5.92,81.04,4.23,246952,6681,240032,6496,13940,978,13701,942,322846,8393,319478,8018
634,seoul-downtown,Aug-23,5.93,80.95,4.23,246763,6673,239389,6492,13940,978,13701,941,322980,8395,319445,8032
651,seoul-downtown,Sep-23,5.93,80.87,4.23,246804,6674,239123,6492,13950,979,13701,944,323254,8402,320275,8032
668,seoul-downtown,Oct-23,5.94,80.85,4.23,246684,6670,239645,6509,13950,980,13701,946,323210,8400,319979,8010
685,seoul-downtown,Nov-23,5.94,80.85,4.24,246536,6664,239798,6490,13950,981,13701,946,323065,8395,320502,8002
702,seoul-downtown,Dec-23,5.95,80.91,4.26,246460,6662,240343,6490,13950,983,13701,946,322655,8384,320063,8018
719,seoul-downtown,Jan-24,7.54,77.91,4.20,259659,7568,252758,6897,20152,1064,13746,1040,363239,9953,330019,9015

In [35]:
# between_lease_and_lease_deposit_ratio가 10 이상인 레코드의 locale, base_month 컬럼만 가지는 데이터프레임을 생성
practice_df.loc[practice_df.between_lease_and_lease_deposit_ratio >= 10, ['locale', 'base_month']]

                      locale base_month
sequence
10                     busan     Jul-20
27                     busan     Aug-20
44                     busan     Sep-20
54                  province     Oct-20
61                     busan     Oct-20
...                      ...        ...
700                 province     Dec-23
707                    busan     Dec-23
711                  daejeon     Dec-23
722       seoul-southwestern     Jan-24
728                  daejeon     Jan-24

[87 rows x 2 columns]

In [37]:
practice_df = None

try:
    conn = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='root',
        database='real_estate'
    )

    if conn.is_connected():
        SQL = 'SELECT * FROM officetel_estate where locale ="seoul-downtown"'
        practice_df = pd.read_sql_query(SQL, conn, index_col='sequence')
        
except Exception as e:
    pass
finally:
    if conn.is_connected():
        conn.close()

practice_df

C:\Users\ITPS\AppData\Local\Temp\ipykernel_2964\2442883659.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  practice_df = pd.read_sql_query(SQL, conn, index_col='sequence')

,locale,base_month,between_lease_and_lease_deposit_ratio,lease_to_sale_ratio,monthly_rent_rate_of_return,average_lease_on_deposit_price,average_lease_on_deposit_price_per_unit,midian_lease_on_deposit_price,midian_lease_on_deposit_price_per_unit,average_monthly_rent_price,average_monthly_rent_price_unit,midian_average_monthly_rent_price,midian_average_monthly_rent_price_unit,average_sale_price,average_price_per_unit,midian_average_sale_price,midian_average_price_per_unit
sequence,,,,,,,,,,,,,,,,,
5,seoul-downtown,Jul-20,6.13,79.55,4.18,235665,6405,223768,6221,13906,946,13701,919,310153,8155,307248,7901
22,seoul-downtown,Aug-20,6.13,79.60,4.18,236063,6414,223807,6222,13906,946,13701,919,310413,8162,307313,7901
39,seoul-downtown,Sep-20,6.12,79.71,4.18,236364,6423,224161,6230,13906,946,13701,919,310497,8164,307446,7901
56,seoul-downtown,Oct-20,6.11,79.78,4.18,236623,6430,224678,6234,13906,945,13701,912,310689,8168,307512,7906
73,seoul-downtown,Nov-20,6.11,79.85,4.18,236864,6437,225132,6249,13906,945,13701,912,310760,8169,307512,7891
90,seoul-downtown,Dec-20,6.10,79.96,4.18,237218,6446,225801,6252,13906,945,13701,912,310778,8169,306110,7891
107,seoul-downtown,Jan-21,6.12,80.01,4.17,237618,6458,225901,6270,13952,945,13701,912,311209,8180,306236,7884
124,seoul-downtown,Feb-21,6.11,80.00,4.17,237769,6463,226356,6270,13952,945,13701,913,311550,8188,306337,7887
141,seoul-downtown,Mar-21,6.11,80.05,4.17,237970,6469,226801,6280,13952,945,13701,913,311684,8191,306337,7889
158,seoul-downtown,Apr-21,6.10,80.10,4.17,238165,6475,227002,6280,13952,945,13701,913,311839,8195,306369,7893
175,seoul-downtown,May-21,6.10,80.18,4.16,238542,6486,227710,6280,13952,944,13701,913,312135,8203,307291,7893
192,seoul-downtown,Jun-21,6.01,80.30,4.17,239121,6502,228063,6281,13816,946,13701,913,312590,8212,307469,7885
209,seoul-downtown,Jul-21,6.00,80.44,4.17,239860,6524,228469,6281,13816,948,13701,914,313244,8226,307886,7932
226,seoul-downtown,Aug-21,5.98,80.69,4.18,240837,6545,229525,6281,13816,951,13701,916,313852,8231,308171,7933
243,seoul-downtown,Sep-21,5.97,80.66,4.18,241695,6560,230794,6286,13816,953,13701,916,315242,8255,308689,7945
260,seoul-downtown,Oct-21,5.94,80.75,4.18,242885,6589,231536,6295,13816,955,13701,917,316742,8284,310129,7953
277,seoul-downtown,Nov-21,5.93,80.83,4.17,243990,6614,232268,6297,13816,956,13701,917,318053,8310,310390,7941
294,seoul-downtown,Dec-21,5.91,80.92,4.17,244760,6634,232934,6300,13816,957,13701,919,318692,8325,310921,7941
311,seoul-downtown,Jan-22,5.90,81.03,4.17,245264,6645,234308,6307,13816,958,13701,921,319035,8331,311424,7941
328,seoul-downtown,Feb-22,5.90,81.10,4.17,245789,6657,234773,6312,13816,958,13701,921,319348,8337,312229,7948
345,seoul-downtown,Mar-22,5.90,81.15,4.17,246474,6668,236995,6329,13816,959,13701,921,320455,8352,317915,7936
362,seoul-downtown,Apr-22,5.89,81.07,4.17,246823,6675,237093,6349,13816,960,13701,922,321673,8379,319684,7954
379,seoul-downtown,May-22,5.89,81.08,4.18,247366,6689,237427,6352,13864,962,13701,924,322471,8396,320010,7979
396,seoul-downtown,Jun-22,5.90,81.17,4.18,247759,6701,237907,6357,13914,964,13701,926,322820,8404,320429,8000
413,seoul-downtown,Jul-22,5.90,81.07,4.19,247721,6698,238261,6360,13914,966,13701,926,323118,8410,320946,8019
430,seoul-downtown,Aug-22,5.90,81.12,4.20,247817,6703,238362,6360,13914,969,13701,927,323377,8416,320391,8009
447,seoul-downtown,Sep-22,5.90,81.22,4.21,247892,6705,239053,6353,13934,971,13701,927,323123,8407,319539,7993
464,seoul-downtown,Oct-22,5.91,81.29,4.23,247639,6698,239040,6353,13934,972,13701,928,322732,8393,318290,7955
481,seoul-downtown,Nov-22,5.91,81.30,4.23,247335,6688,238585,6344,13934,971,13701,928,322297,8382,317702,7939
498,seoul-downtown,Dec-22,5.98,81.24,4.24,246783,6673,238131,6341,13996,972,13701,928,321735,8368,317267,7939
515,seoul-downtown,Jan-23,5.97,81.25,4.26,246221,6659,238098,6339,13965,972,13701,928,321282,8354,316900,7929
532,seoul-downtown,Feb-23,5.98,81.29,4.27,245713,6646,237653,6315,13965,972,13701,928,320858,8341,317085,7927
549,seoul-downtown,Mar-23,5.98,81.30,4.27,245376,6641,238434,6303,13965,973,13701,930,320668,8336,317065,7930
566,seoul-downtown,Apr-23,5.90,81.26,4.21,247936,6711,243588,6534,13950,976,13701,948,323486,8414,321664,8102
583,seoul-downtown,May-23,5.91,81.10,4.21,247496,6696,240255,6498,13942,977,13701,942,323300,8409,321158,8076
600,seoul-downtown,Jun-23,5.92,81.06,4.22,247096,6686,239583,6498,13940,977,13701,941,323012,8400,319848,8019
617,seoul-downtown,Jul-23,5.92,81.04,4.23,246952,6681,240032,6496,13940,978,13701,942,322846,8393,319478,8018
634,seoul-downtown,Aug-23,5.93,80.95,4.23,246763,6673,239389,6492,13940,978,13701,941,322980,8395,319445,8032
651,seoul-downtown,Sep-23,5.93,80.87,4.23,246804,6674,239123,6492,13950,979,13701,944,323254,8402,320275,8032
668,seoul-downtown,Oct-23,5.94,80.85,4.23,246684,6670,239645,6509,13950,980,13701,946,323210,8400,319979,8010
685,seoul-downtown,Nov-23,5.94,80.85,4.24,246536,6664,239798,6490,13950,981,13701,946,323065,8395,320502,8002
702,seoul-downtown,Dec-23,5.95,80.91,4.26,246460,6662,240343,6490,13950,983,13701,946,322655,8384,320063,8018
719,seoul-downtown,Jan-24,7.54,77.91,4.20,259659,7568,252758,6897,20152,1064,13746,1040,363239,9953,330019,9015