In [2]:
import pandas as pd
import numpy as np

### 다중 인덱스
데이터프레임에 여러 계층을 가지는 인덱스를 지정할 수 있음
데이터프레임 생성시 `columns`인수로 다차원 리스트 형태를 지정하면 다중 인덱스로 지정할 수 있음

In [9]:
df = pd.DataFrame(np.random.randn(5,4).round(2), columns=[['A','A','B','B'],['C1','C2','C1','C2']])
df

      A           B
     C1    C2    C1    C2
0  0.40  0.76  0.81 -0.10
1 -0.09  0.83 -0.53  0.52
2 -1.23 -1.17  0.99 -1.54
3  0.16 -0.56  0.52  3.04
4 -0.07 -1.87 -1.51 -1.34

데이터프레임의 `columns` 속성의 `names` 속성으로 각 열 인덱스에 대한 이름을 부여할 수 있음

In [10]:
df.columns.names = ['Cidx1','Cidx2']
df

Cidx1     A           B
Cidx2    C1    C2    C1    C2
0      0.40  0.76  0.81 -0.10
1     -0.09  0.83 -0.53  0.52
2     -1.23 -1.17  0.99 -1.54
3      0.16 -0.56  0.52  3.04
4     -0.07 -1.87 -1.51 -1.34

데이터 프레임 생성 시 `index`인수로 다차원 리스트를 지정하면 다차원 형태의 행 인덱스를 지정할 수 있음
행 인덱스의 이름은 데이터 프레임 인스턴스의 `index`속성의 `names`속성으로 지정할 수 있음

In [38]:
df2 = pd.DataFrame(np.random.randn(6,4).round(2), 
    columns=[['A','A','B','B'],['C1','C2','C1','C2']],
    index=[['M','M','M','F','F','F'],['id_1','id_2','id_3','id_1','id_2','id_3']])
df2.index.names = ['Ridx1','Ridx2']
df2.columns.names = ['Cidx1','Cidx2']
df2

Cidx1           A           B
Cidx2          C1    C2    C1    C2
Ridx1 Ridx2
M     id_1   0.09  1.08 -0.74  0.43
      id_2   0.17 -0.69  0.48 -0.27
      id_3   1.38  0.95  0.28 -0.36
F     id_1  -0.43 -0.32 -0.10 -0.76
      id_2   0.69 -0.82 -1.38 -0.81
      id_3  -3.33  1.15 -1.73  0.01

### 열 인덱스와 행 인덱스 교환 
`stack`,`unstack` 메서드로 열 인덱스를 행 인덱스로 또는 행 인덱스를 열 인덱스로 바꿀 수 있음
`stack()` 메서드: 열 인덱스를 행 인덱스로 변경
`unstack()` 메서드: 행 인덱스를 열 인덱스로 변경

In [39]:
df2.stack('Cidx1')

C:\Users\ITPS\AppData\Local\Temp\ipykernel_4868\3173744584.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df2.stack('Cidx1')

Cidx2                C1    C2
Ridx1 Ridx2 Cidx1
M     id_1  A      0.09  1.08
            B     -0.74  0.43
      id_2  A      0.17 -0.69
            B      0.48 -0.27
      id_3  A      1.38  0.95
            B      0.28 -0.36
F     id_1  A     -0.43 -0.32
            B     -0.10 -0.76
      id_2  A      0.69 -0.82
            B     -1.38 -0.81
      id_3  A     -3.33  1.15
            B     -1.73  0.01

In [40]:
df3 = df2.stack(1)
df3

C:\Users\ITPS\AppData\Local\Temp\ipykernel_4868\4246712737.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df3 = df2.stack(1)

Cidx1                 A     B
Ridx1 Ridx2 Cidx2
M     id_1  C1     0.09 -0.74
            C2     1.08  0.43
      id_2  C1     0.17  0.48
            C2    -0.69 -0.27
      id_3  C1     1.38  0.28
            C2     0.95 -0.36
F     id_1  C1    -0.43 -0.10
            C2    -0.32 -0.76
      id_2  C1     0.69 -1.38
            C2    -0.82 -0.81
      id_3  C1    -3.33 -1.73
            C2     1.15  0.01

In [41]:
df3=df3.T
df3

Ridx1     M                                   F
Ridx2  id_1        id_2        id_3        id_1        id_2        id_3
Cidx2    C1    C2    C1    C2    C1    C2    C1    C2    C1    C2    C1    C2
Cidx1
A      0.09  1.08  0.17 -0.69  1.38  0.95 -0.43 -0.32  0.69 -0.82 -3.33  1.15
B     -0.74  0.43  0.48 -0.27  0.28 -0.36 -0.10 -0.76 -1.38 -0.81 -1.73  0.01

In [42]:
df2

Cidx1           A           B
Cidx2          C1    C2    C1    C2
Ridx1 Ridx2
M     id_1   0.09  1.08 -0.74  0.43
      id_2   0.17 -0.69  0.48 -0.27
      id_3   1.38  0.95  0.28 -0.36
F     id_1  -0.43 -0.32 -0.10 -0.76
      id_2   0.69 -0.82 -1.38 -0.81
      id_3  -3.33  1.15 -1.73  0.01

In [48]:
df4 = df2.unstack(1)
df4

Cidx1     A                                   B
Cidx2    C1                C2                C1                C2
Ridx2  id_1  id_2  id_3  id_1  id_2  id_3  id_1  id_2  id_3  id_1  id_2  id_3
Ridx1
F     -0.43  0.69 -3.33 -0.32 -0.82  1.15 -0.10 -1.38 -1.73 -0.76 -0.81  0.01
M      0.09  0.17  1.38  1.08 -0.69  0.95 -0.74  0.48  0.28  0.43 -0.27 -0.36