In [1]:
'안녕하세요'

'안녕하세요'

In [2]:
1+1+1+1+1+1+1+1+1+1+1+1

12

In [3]:
1+1 # 정수 더하기

2

In [4]:
print(7 // 3) # 몫 연산자  
7 ** 3 # 제곱 연산자

2

343

In [5]:
variable = '문자열'

In [6]:
variable = '문자열' # 파이썬의 변수는 데이터 타입이 존재하지 않음 (데이터의 타입은 존재)
variable

'문자열'

In [7]:
variable = 3.14
variable

3.14

In [8]:
# 정수와 실수 형변환
# 특정 데이터를 정수로 변환할 때는 int() 내장 함수 사용 
int(3.14)

3

In [9]:
int(3.14)

3

In [10]:
int('3')

3

In [11]:
# 특정 데이터를 실수로 변환할 때는 float() 내장 함수를 사용
float(3)

3.0

In [12]:
float('3.14')

3.14

In [13]:
# NaN 과 Inf
# NaN : 숫자가 아님을 나타냄
# Inf : 무한대의 수를 나타냄
float('NaN')
float('Inf')

inf

In [15]:
# 파이썬에서의 문자열 표현
# ',",''',"""

'문자열'
"문자열"
'''
여러줄
의 문자열을
취급
'''

'\n여러줄\n의 문자열을\n취급\n'

In [16]:
# 문자열 연산
# + : 문자열 연결
# * : 문자열 반복
'안녕'+'안녕'

'안녕'*5

'안녕안녕안녕안녕안녕'

In [17]:
# 문자열 형변환
# 다른 형태의 데이터를 str() 내장 함수를 사용하여 문자열로 변환 가능

In [18]:
'안녕' + 5 + '잘가'

TypeError: can only concatenate str (not "int") to str

In [19]:
'안녕' + str(5) + '잘가'

'안녕5잘가'

In [20]:
# 문자열 줄바꿈
# \n으로 줄바꿈을 표현할 수 있음

In [21]:
'안녕\n잘가'

'안녕\n잘가'

In [22]:
# 문자열 치환
# 문자열 객체.replace(변경전문자,변경후문자)
string = 'I am Ironman'

In [23]:
string.replace('Ironman','Hulk')

'I am Hulk'

In [25]:
string

'I am Ironman'

In [26]:
# f문자열
# 문자열을 표시할 형태를 지정해서 사용하는 문자열
name = '김철수'
age = 30

In [27]:
f'{name}의 나이는 {age}세 입니다.'

'김철수의 나이는 30세 입니다.'

In [28]:
# f문자열의 고급 형식 지정
# 변수:<숫자 : 변수값을 왼쪽으로 정렬해서 나열한 후 남은 자리를 공백으로 매꿈
# 변수:>숫자 : 변수값을 오른쪽으로 정렬해서 나열한 후 남은 자리를 공백으로 매꿈
# 변수:^숫자 : 변수값을 가운데 정렬해서 나열한 후 남은 자리를 공백으로 매꿈
# 변수:특정문자(<>^)숫자: 변수값을 정렬해서 나열할 후 남은 자리를 특정문자로 매꿈
number = 12345

In [29]:
f'[{number:>15}]'

'[          12345]'

In [31]:
f'[{number:0>15}]'

'[000000000012345]'

In [32]:
# 조건문
# if 조건문
# if 조건 :
# 실행문
# : 이후에 새로운 코드 블럭이 생기면
# 라인 첫 공백을 모두 같게 해야함
number = 12345
if number % 2 == 0:
    print('짝수')
    print('짝수')

In [33]:
# else
# else: 
# 실행문

In [34]:
if number % 2 == 0:
    print('짝수')
else:
    print('홀수')

홀수

In [35]:
# 윤년
# 4202년이 윤년인지 아닌지 판별하는 조건문을 작성하시오.
###2차복습완료