In [100]:
# 반복문
# for 반복문 : 반복할 횟수가 정해져있는 반복작업에서 사용 
# for 변수 in range(반복횟수)
#   반복할 실행문 반복할 실행문 반복할 실행문 반복할 실행문

In [2]:
# for(int index=0; index<5; index++) - X

# int[] array = {0,1,2,3,4};
# for (int index: array) {} - O

# range(정수): 0부터 정수-1 까지의 정수 리스트 생성
# range(시작 정수,종료 정수): 시작 정수부터 종료 정수-1까지의 정수 리스트 생성
# range(시작 정수,종료 정수,차이):시작 정수부터 종료 정수-1 까지의 정수 리스트를 생성하는데
# 차이정수 만큼의 차이를 가지며 변경됨

print(list(range(5)))
for index in range(5):
    print(index)

for index in range(5,10):
    print(index)

for index in range(5,10,3):
    print(index)

for index in range(10,-1,-1):
    print(index)

[0, 1, 2, 3, 4]
0
1
2
3
4
5
6
7
8
9
5
8
10
9
8
7
6
5
4
3
2
1
0

In [3]:
for index in range(11):
    print('*'*index)

*
**
***
****
*****
******
*******
********
*********
**********

In [103]:
for index in range(10,0,-1):
    print('*'*index)

**********
*********
********
*******
******
*****
****
***
**
*

In [104]:
for count in range(1,20):
    if count <=10:
        print("*"*count)
    else:
        print("*"*(20-count))

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [4]:
for count in range(1,12):
   if count <=6:
      print(" "*(6-count)+"*"*(2*count-1)+" "*(6-count))
   else: 
      print(" "*(count-6)+"*"*((12-count)*2-1)+" "*(count-6))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [5]:
# 0 1 2 3 
# 1 2 3 4 
# 2 3 4 5
# 6 7 8 9

In [6]:
for a in range(4):
    for b in range(4):
        print(a+b,end=" ")
    print()

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [7]:
for start in range(4):
    for value in range(start,start+4):  
        print(value,end=" ")
    print()

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [9]:
for a in range(1,7):
    for b in range (1,7):
        if (a+b) % 4 == 0:
            print(f'{a} {b}')

1 3
2 2
2 6
3 1
3 5
4 4
5 3
6 2
6 6

In [10]:
Aap = 0
de = 0
price = 1024
for Aap in range(0,5):
    for de in range(1,5-Aap):
        price=price/2
    for Aap in range(1,Aap+1):
        price=price*2
    print(price)
    price = 1024

64.0
256.0
1024.0
4096.0
16384

In [18]:
def calculate_possible_prices(starting_price, num_coins):
    prices = [starting_price]

    for _ in range(num_coins):
        new_prices = []
        for price in prices:
            new_prices.extend([price * 2, price / 2])
        prices = new_prices

    return sorted(set(prices))

starting_price = 1024
num_coins = 4
possible_prices = calculate_possible_prices(starting_price, num_coins)

for price in possible_prices:
    print(price)

64.0
256.0
1024.0
4096.0
16384

In [19]:
for count in range(1,11):
    sum = 0;
    for value in range(count+1):
        sum += value
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [20]:
sum = 0;
for count in range(1,11):
     for value in range(count+1):
         sum += value

print(sum)

220

In [21]:
# 리스트 복수 할당
# 변수를 ,로 구분하여 대입연산자 좌항으로 나열하여 리스트에 있는 요소를 분리해서 대입할 수 있음

In [22]:
numbers = [1,2,3]

In [23]:
number1,number2,number3 = numbers
print(f'{number1}{number2}{number3}')

123

In [24]:
# 만약 복수 할당할 변수의 개수가 리스트 요소의 개수와 같지 않다면 오류가 발생
number1,number2=numbers

ValueError: too many values to unpack (expected 2)

In [25]:
#enumerate()
#리스트를 인덱스,요소 묶음으로 만들어 주는 내장 함수

In [26]:
enumerate(numbers)

In [27]:
for index,item in enumerate(numbers):
    print(f'인덱스: {index}, 요소: {item}')

인덱스: 0, 요소: 1
인덱스: 1, 요소: 2
인덱스: 2, 요소: 3

In [28]:
# zip()
# 두 개의 리스트를 동일한 인덱스의 값을 묶어서 새로운 리스트를 생성
names=['김이준','이서아','박도윤']
scores=[70,85,60]

In [29]:
name_scores = list(zip(names,scores))
name_scores

[('김이준', 70), ('이서아', 85), ('박도윤', 60)]

In [30]:
#중첩 리스트
#요소로 리스트를 가지고 있는 리스트

In [31]:
overlappings = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
overlappings
items=overlappings[0]
items
items[1]

2

In [32]:
# 평균 평점을 구하는 함수
# 함수의 매개변수로 grades, credits 리스트를 입력 받고 
# 평균 평점 gpa를 반환하는 함수를 작성하시오.
# 단, grades와 credits의 길이가 서로 다르다면 -1를 반환하시오.

In [ ]:
grades=[4,3,2,3,4]
credits=[3,3,1,2,2]

def calculate_gpa(grades, credits):

    sum1 = 0 # 이수학점의 총합
    sum2 = 0 # 가중치 총합

    if len(grades)!=len(credits):
        return -1
    
    result=list(zip(grades,credits))
    for index in range(len(grades)):
        sum1 = sum1 + result[index][0]*result[index][1]
    
    for index in range(len(credits)):
        sum2 = sum2 + credits[index]

    return round(sum1/sum2,2)

# 평균평점 = (가중치 총합)/(이수학점의 총합)
calculate_gpa(grades,credits)

3.36

In [33]:
# x = [['길동',90],['철수',80],['영희',70],['방자',60]]
# 복수할당과 zip 함수를 사용하여 이름만 존재하는 x_names 리스트 변수를
# 생성하시오.

In [35]:
x = [['길동',90],
     ['철수',80],
     ['영희',70],
     ['방자',60]]

r_x = list(zip(*x))
r_x 

print(r_x)

x_names,s_scores=r_x
x_names = list(x_names)
x_names

[('길동', '철수', '영희', '방자'), (90, 80, 70, 60)]

['길동', '철수', '영희', '방자']

In [36]:
# 딕셔너리
# key,value를 하나의 쌍으로 관리하는 자료형
# 순서가 존재하지 않고 key는 중복을 허용하지 않으며, value는 중복될 수 있음
# 딕셔너리변수 = {key1:value1, key2:value2, ... }
# key는 어떠한 자료형이든 가능

eng_dictionary = {'apple':'사과','banana':'바나나','carrot':'당근'}
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [37]:
# 딕셔너리의 특정 요소에 접근할 때는 딕셔너리변수[키]로 값을 가져올 수 있음(접근 가능)
eng_dictionary['apple']

'사과'

In [38]:
# 딕셔너리 자료 쌍의 개수
# len(딕셔너리 변수)를 사용하여 자료 쌍의 개수를 구할 수 있음
len(eng_dictionary)

3

In [ ]:
# 딕셔너리 자료 value 변경
# 딕셔너리[키] = 변경할 값

In [39]:
eng_dictionary['banana']='버네너'
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근'}

In [40]:
# 딕셔너리 요소 추가
# 딕셔너리[추가할 키] = 추가할 값
eng_dictionary['delete'] = '삭제'
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근', 'delete': '삭제'}

In [41]:
# 딕셔너리의 update메서드
# 추가, 수정 작업을 딕셔너리로 지정하여 작업하는 것

In [42]:
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근', 'delete': '삭제'}

In [43]:
eng2_dictionary = {
    'banana':'바나나',
    'electricity':'전기'
}

In [45]:
eng_dictionary.update(eng2_dictionary)
eng_dictionary

{'apple': '사과',
 'banana': '바나나',
 'carrot': '당근',
 'delete': '삭제',
 'electricity': '전기'}

In [46]:
# 딕셔너리 요소 삭제
# del 명령어를 사용하여 제거
# pop() 메서드를 사용하여 추출
del eng_dictionary['electricity']
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근', 'delete': '삭제'}

In [47]:
eng_dictionary.pop('delete')

'삭제'

In [48]:
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [52]:
# 반복가능 객체에 요소 존재여부 확인
# in 연산자를 통해서 특정 요소가 해당 객체에 존재하는지 여부 확인 가능

In [51]:
numbers

[1, 2, 3]

In [53]:
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [54]:
5 in numbers

False

In [55]:
'carrots' in eng_dictionary

False

In [56]:
# 딕셔너리를 반복문에서 사용
# 키만 사용: for key in 딕셔너리.keys():
# 값만 사용: for value in 딕셔너리.values():
# 키와 값을 모두 사용 : for key,value in 딕셔너리.items():

# keys() : 딕셔너리의 key 값들을 튜플로 반환
# values() : 딕셔너리의 value 값들을 튜플로 반환
# items() : 딕셔너리의 key, value 쌍들을 튜플로 반환

In [57]:
for key in eng_dictionary.keys():
    print(key)

apple
banana
carrot

In [58]:
for value in eng_dictionary.values():
    print(value)

사과
바나나
당근

In [59]:
for key,value in eng_dictionary.items():
    print(f'key:{key}, value:{value}')

key:apple, value:사과
key:banana, value:바나나
key:carrot, value:당근

In [61]:
data = {
    "철수":98,
    "영희":80,
    "순이":100,
    "돌이":70,
}

In [ ]:
sum=0
for key,value in data.items():
    print(f'{key}\t\t{value}')
    sum=sum+value
print("========================")  
print(f'평균\t\t{sum/len(data)}')

철수		98
영희		80
순이		100
돌이		70
========================
평균		87.0

In [ ]:
##2차복습완료